@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	background: #dce8f6;
	color: #333;
}

.person {
	display: flex;
	align-items: center;
	gap: 15px;

	img {
		border-radius: 12px;
	}

	&__info {
		font-size: 18px;
	}
	&__title {
	}
	&__description {
		color: #747474;
	}
}
